// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary: #2196f3,
    primary-dark: #1c76da,
    secondary: #673ab7,
    secondary-dark: #542ca7
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
