<div class="row">
  <!-- [ Typography ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Background Color</h5>
      </div>
      <div class="card-body">
        <div class="row g-1">
          <div class="col-md-6 mb-3">
            <div class="p-3 color-block bg-blue-100" data-clipboard-text="bg-blue-100">bg-blue-100</div>
            <div class="p-3 color-block bg-blue-200" data-clipboard-text="bg-blue-200">bg-blue-200</div>
            <div class="p-3 color-block bg-blue-300" data-clipboard-text="bg-blue-300">bg-blue-300</div>
            <div class="p-3 color-block bg-blue-400" data-clipboard-text="bg-blue-400">bg-blue-400</div>
            <div class="p-3 color-block bg-blue-500" data-clipboard-text="bg-blue-500">bg-blue-500</div>
            <div class="p-3 color-block bg-blue-600" data-clipboard-text="bg-blue-600">bg-blue-600</div>
            <div class="p-3 color-block bg-blue-700" data-clipboard-text="bg-blue-700">bg-blue-700</div>
            <div class="p-3 color-block bg-blue-800" data-clipboard-text="bg-blue-800">bg-blue-800</div>
            <div class="p-3 color-block bg-blue-900" data-clipboard-text="bg-blue-900">bg-blue-900</div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="p-3 color-block bg-purple-100" data-clipboard-text="bg-purple-100">bg-purple-100</div>
            <div class="p-3 color-block bg-purple-200" data-clipboard-text="bg-purple-200">bg-purple-200</div>
            <div class="p-3 color-block bg-purple-300" data-clipboard-text="bg-purple-300">bg-purple-300</div>
            <div class="p-3 color-block bg-purple-400" data-clipboard-text="bg-purple-400">bg-purple-400</div>
            <div class="p-3 color-block bg-purple-500" data-clipboard-text="bg-purple-500">bg-purple-500</div>
            <div class="p-3 color-block bg-purple-600" data-clipboard-text="bg-purple-600">bg-purple-600</div>
            <div class="p-3 color-block bg-purple-700" data-clipboard-text="bg-purple-700">bg-purple-700</div>
            <div class="p-3 color-block bg-purple-800" data-clipboard-text="bg-purple-800">bg-purple-800</div>
            <div class="p-3 color-block bg-purple-900" data-clipboard-text="bg-purple-900">bg-purple-900</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card color-card">
      <div class="card-header">
        <h5>Text Color</h5>
      </div>
      <div class="card-body">
        <div class="row g-1">
          <div class="col-md-6 mb-3">
            <div class="p-3 color-block text-blue-100" data-clipboard-text="text-blue-100">text-blue-100</div>
            <div class="p-3 color-block text-blue-200" data-clipboard-text="text-blue-200">text-blue-200</div>
            <div class="p-3 color-block text-blue-300" data-clipboard-text="text-blue-300">text-blue-300</div>
            <div class="p-3 color-block text-blue-400" data-clipboard-text="text-blue-400">text-blue-400</div>
            <div class="p-3 color-block text-blue-500" data-clipboard-text="text-blue-500">text-blue-500</div>
            <div class="p-3 color-block text-blue-600" data-clipboard-text="text-blue-600">text-blue-600</div>
            <div class="p-3 color-block text-blue-700" data-clipboard-text="text-blue-700">text-blue-700</div>
            <div class="p-3 color-block text-blue-800" data-clipboard-text="text-blue-800">text-blue-800</div>
            <div class="p-3 color-block text-blue-900" data-clipboard-text="text-blue-900">text-blue-900</div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="p-3 color-block text-purple-100" data-clipboard-text="text-purple-100">text-purple-100</div>
            <div class="p-3 color-block text-purple-200" data-clipboard-text="text-purple-200">text-purple-200</div>
            <div class="p-3 color-block text-purple-300" data-clipboard-text="text-purple-300">text-purple-300</div>
            <div class="p-3 color-block text-purple-400" data-clipboard-text="text-purple-400">text-purple-400</div>
            <div class="p-3 color-block text-purple-500" data-clipboard-text="text-purple-500">text-purple-500</div>
            <div class="p-3 color-block text-purple-600" data-clipboard-text="text-purple-600">text-purple-600</div>
            <div class="p-3 color-block text-purple-700" data-clipboard-text="text-purple-700">text-purple-700</div>
            <div class="p-3 color-block text-purple-800" data-clipboard-text="text-purple-800">text-purple-800</div>
            <div class="p-3 color-block text-purple-900" data-clipboard-text="text-purple-900">text-purple-900</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Typography ] end -->
</div>
